:root{
  --sys-dl: 8px;
  --sys-rad: 8px;

  --sys-surface-elevation-opacity-1: 0.2;
  --sys-surface-elevation-opacity-2: 0.14;
  --sys-surface-elevation-opacity-3: 0.12;

   /* alwater */
   --sys-font-family-brand: var(--ref-font-family-vazirmatn), var(--ref-font-family-system);

   /* headline - small */
   --sys-typescale-headline-small-font-family-name: var(--sys-font-family-brand);
   --sys-typescale-headline-small-font-weight: var(--ref-font-weight-regular);
   --sys-typescale-headline-small-font-size: 2.4rem;
   --sys-typescale-headline-small-line-height: 3.2rem;
   --sys-typescale-headline-small-letter-spacing: 0rem;
   /* code pen */
   --h: 33;
	--s: 90%;
	--l: 90%;
}

*{
  /* code pen */
  border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  padding: calc(2 * var(--sys-dl));

  /* Code pen */
  /* background:
		linear-gradient(hsla(0,0%,0%,0) 37.5%,hsla(0,0%,0%,0.5)),
		url("/adltalab/06-S02E13/img/background.png") center / 39em 39em; */
    /* color: var(--fg); */
    /* display: flex; */
    /* font: 1em/1.5 sans-serif; */
    /* height: 100vh; */
    /* min-height: 480px; */
}

.container{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: calc(2* var(--sys-dl));
  
  position: fixed;
  right: calc(2*var(--sys-dl));
  bottom: calc(2*var(--sys-dl));
}

.box-container{
  position: relative;
  margin: 10px;
  padding: 20px;
}

.box{
  position: absolute;
  padding: calc(5*var(--sys-dl));
  opacity: 0.9;
}

.box:nth-child(1) {
  background-color: var(--md-sys-color-primary-container);
  top: 50px;
  left: 250px;
}

.box:nth-child(2) {
  background-color: var(--md-sys-color-secondary-container);
  top: 100px;
  left: 200px;
}

.box:nth-child(3) {
  background-color: var(--md-sys-color-tertiary-container);
  /* background-color:  var(--md-sys-color-inverse-surface); */
  top: 130px;
  left: 270px;
}

.box:hover{
  z-index: 5;
  box-shadow: var(--md-sys-elevation-2); 
}

.fab {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  font-size: 24px;
  border-radius: calc(2*var(--sys-rad));
  padding: calc(1 * var(--sys-dl));
  height: 56px;
  width: 56px;
  
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  box-shadow: var(--md-sys-elevation-2);

}
.fab.small {
  border-radius: calc(1.5*var(--sys-rad));
  height: 40px;
  width: 40px;
}

.fab.large {
  font-size: 36px;
  padding: calc(2 * var(--sys-dl));
  border-radius: calc(3.5 * var(--sys-rad));
  height: 96px;
  width: 96px;
}

.fab:hover{
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  box-shadow: var(--md-sys-elevation-3);
}

.fab:active{
  background-color:  var(--md-sys-color-tertiary-container);
   
  color: var(--md-sys-color-on-tertiary-container);
  box-shadow: var(--md-sys-elevation-2);
}

.info-box{
  position: fixed;
  right: calc(20 * var(--sys-dl));
  left: calc(20 * var(--sys-dl));
  top: calc(20 * var(--sys-dl));
  max-width:calc(80 * var(--sys-dl));
  max-height: calc(30 * var(--sys-dl));
  overflow-y: auto;
  padding: calc(3 * var(--sys-dl));
  /* background-color:  var(--md-sys-color-tertiary-container); */

	background-image: linear-gradient(hsla(0,0%,0%,0.2),hsla(0,0%,0%,0));
  box-shadow:
		0 -0.025em 0.25em hsla(0,0%,0%,0.2),
		0 0.05em 0.25em hsla(var(--h),var(--s),var(--l),0.5),
		/* 0 0 0 0.25em hsla(var(--h),var(--s),var(--l),0.5), */
		0 0.075em 0.1em hsla(var(--h),var(--s),var(--l),0.5) inset,
		0 -0.025em 0.375em hsla(var(--h),var(--s),var(--l),0.4) inset,
		0 -0.25em 2em 0.5em hsla(var(--h),var(--s),var(--l),0.3) inset,
		/* 0 1.25em 0 hsla(var(--h),var(--s),var(--l),0.3) inset, */
		0 .1em 2em hsla(0,0%,0%,0.2);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 1.25em;
  z-index: 10;
  display: none;
}

.adl-btn {
  background-color:  var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  text-align: center;
  font-size: 24px;
  border-radius: calc(1*var(--sys-rad));

  margin: calc(1 * var(--sys-dl)) auto;
  padding: calc(1 * var(--sys-dl));
  max-width: calc(20* var(--sys-dl));
  user-select:none ;
 
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  box-shadow: var(--md-sys-elevation-2);
}

.adl-btn:hover{
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  box-shadow: var(--md-sys-elevation-3);
}

.scrim{
  opacity: 0.7;
  background-color: rgba(146, 19, 19, 0.473);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: none;
}




