:root {
  --sys--spacing--track: 8px;

  --sys-radius-small: 8px;
  --sys-radius-medium: 12px;
  --sys-radius-large: 16px;
  /* alwater */
  --sys-font-family-brand: var(--ref-font-family-vazirmatn), var(--ref-font-family-system);

  /* headline - small */
  --sys-typescale-headline-small-font-family-name: var(--sys-font-family-brand);
  --sys-typescale-headline-small-font-weight: var(--ref-font-weight-regular);
  --sys-typescale-headline-small-font-size: 2.4rem;
  --sys-typescale-headline-small-line-height: 3.2rem;
  --sys-typescale-headline-small-letter-spacing: 0rem;
}

body {
  background-color: var(--sys-color-background);
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: var(--sys--spacing--track);
  /* background-color: var(--sys-color-primary-container); */
  color: var(--sys-color-primary);
}

.container .icon-box {
  flex-grow: 1;
}

.headline {
  font-family: var(--sys-typescale-headline-small-font-family-name);
  font-weight: var(--sys-typescale-headline-small-font-weight);
  font-size: var(--sys-typescale-headline-small-font-size);
  letter-spacing: var(--sys-typescale-headline-small-letter-spacing);
  line-height: calc(0.2*var(--sys-typescale-headline-small-line-height));
}

.headline alwatr-icon {
  display: block;
  font-size: 1em;
  color: var(--sys-color-primary);
}

.discription {
  font-size: 1em;
  font-weight: var(--sys-typescale-headline-small-font-weight);
  letter-spacing: var(--sys-typescale-headline-small-letter-spacing);
}

.icon-box {
  /* change default inline display */
  display: block;
  padding: calc(2*var(--sys--spacing--track));
  border-radius: var(--sys-radius-medium);
  background-color: var(--sys-color-surface);

  /* reset all <a> default parameter */
  color: inherit;
  /* change defult color [blue] to inherited  [Body] */
  text-decoration: none; 
  box-shadow: var(--sys-surface-elevation-2);
  user-select: none;
  transition: background-color var(--sys-motion-duration-large-out);
}

.icon-box:hover {
  background-color: var(--sys-color-on-surface);
  color: var(--sys-color-on-primary);
  box-shadow: var(--sys-surface-elevation-3);
  /* transition: background-color var(--sys-motion-easing-exiting); */
  transition: background-color var(--sys-motion-duration-large);
}
